# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/

# Database
db.sqlite3

# Static folder at project root
/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace
.idea/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc

employees/utls/credentials.json
employees/utls/token.json
candidates/utls/candidates_token.json
candidates/utls/credentials.json
