# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/

# Database
# db.sqlite3  # Comment out if not using SQLite

# Static files (optional)
#/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace
.idea/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
# Track migration files but ignore compiled versions
*/migrations/*.py

# Credentials and scripts
candidates/utils/google_form_Candidates.py

# Jasper report
report/resources/.settings/
report/resources/.project/

staticfiles/
media/
report/resources/
employees/utils/credentials.json
employees/utils/token.json
candidates/utils/candidates_token.json
candidates/utils/credentials.json
candidates/utils/token.json
google.txt
candidates/utils/drive_token.json
candidates/utils/sheet_token.json
celerybeat-schedule

celerybeat-schedule-wal
celerybeat-schedule-shm
