# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/

# Database
# db.sqlite3  # Comment out if not using SQLite

# Static files (optional)
#/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace
.idea/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
# Track migration files but ignore compiled versions
*/migrations/*.py

# Credentials and scripts
employees/utls/credentials.json
employees/utls/token.json
candidates/utls/token.json
candidates/utls/credentials.json
candidates/utls/google_form_Candidates.py
candidates/utls/google_sheet_Candidates.py

# Jasper report
report/resources/.settings/
report/resources/.project/

staticfiles/
media/
report/resources/