celery==5.4.0
crispy-bootstrap4==2023.1
dash==2.9.3
Django==5.0.2
django-crispy-forms==2.1
django-filter==24.2
django-plotly-dash==2.3.1
django-select2==8.1.2
django-sql-explorer==4.3
docx2txt==0.8
google==3.0.0
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-api-python-client==2.125.0
google-auth==2.26.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-generativeai==0.3.2
googleapis-common-protos==1.62.0
num2words==0.5.13
openpyxl==3.0.10
pdf2image==1.17.0
phonenumbers==8.13.28
pillow
plotly==5.22.0
PyPDF2==3.0.1
pyreportjasper==2.1.4
pytesseract==0.3.10
python-docx==1.1.0
reportlab==4.1.0
requests==2.31.0
XlsxWriter==3.2.0
whitenoise
django-auditlog
pandas