amqp==5.2.0
asgiref==3.7.2
billiard==4.2.0
blinker==1.8.2
cachetools==5.3.3
celery==5.4.0
certifi==2024.2.2
channels==4.1.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
crispy-bootstrap4==2023.1
cycler==0.12.1
dash==2.9.3
dash-bootstrap-components==1.6.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
Django==5.0.2
django-appconf==1.0.6
django-compressor==4.4
django-crispy-forms==2.1
django-extensions==3.2.3
django-filter==24.2
django-plotly-dash==2.3.1
django-redis==5.4.0
django-select2==8.1.2
django-sql-explorer==4.3
djangorestframework==3.15.1
docopt==0.6.2
docx2txt==0.8
dpd_components==0.1.0
et-xmlfile==1.1.0
fonttools==4.53.0
google==3.0.0
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-api-python-client==2.125.0
google-auth==2.26.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-generativeai==0.3.2
googleapis-common-protos==1.62.0
grpcio==1.60.0
grpcio-status==1.60.0
httplib2==0.22.0
idna==3.6
importlib_metadata==8.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
JPype1==1.5.0
kiwisolver==1.4.5
kombu==5.4.0
libsass==0.23.0
lxml==5.1.0
MarkupSafe==2.1.5
matplotlib
num2words==0.5.13
numpy
oauthlib==3.2.2
openpyxl==3.0.10
packaging==23.2
pandas
pdf2image==1.17.0
phonenumbers==8.13.28
pillow
platformdirs==4.2.2
plotly==5.22.0
prompt_toolkit==3.0.47
proto-plus==1.23.0
protobuf==4.25.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyparsing==3.1.2
PyPDF2==3.0.1
pyperclip==1.8.2
pyreportjasper==2.1.4
pytesseract==0.3.10
python-dateutil==2.9.0.post0
python-docx==1.1.0
pytz==2024.1
rcssmin==1.1.1
redis==5.0.3
reportlab==4.1.0
requests==2.31.0
requests-oauthlib==2.0.0
rjsmin==1.2.1
rsa==4.9
setuptools==72.1.0
simplejson==3.19.2
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tenacity==8.5.0
tomli==2.0.1
tqdm==4.66.1
typing_extensions==4.9.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.1.0
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.0.3
XlsxWriter==3.2.0
yapf==0.40.2
zipp==3.19.2
mysqlclient
whitenoise
gunicorn
