{% extends "jobs/base.html" %}

{% block content %}
<div class="container">
    <div class="card">
    <div class="card-header d-flex align-items-center gap-3">
        <div>
            <h2 class="mb-1">{{ object.name }}</h2>
            <p class="mb-0">{{ object.mobile }}</p>
            <p class="mb-0">{{ object.email }}</p>
        </div>
        {% if object.candidate_initial_info.resume %}
        <!-- Resume Icon -->
        <div class="ms-auto text-center">
            <svg fill="#000000" height="40px" width="40px" version="1.1" xmlns="http://www.w3.org/2000/svg" 
                viewBox="0 0 42 42" xml:space="preserve">
                <path d="M15.3,20.1c0,3.1,2.6,5.7,5.7,5.7s5.7-2.6,5.7-5.7s-2.6-5.7-5.7-5.7S15.3,17,15.3,20.1z M23.4,32.4
                    C30.1,30.9,40.5,22,40.5,22s-7.7-12-18-13.3c-0.6-0.1-2.6-0.1-3-0.1c-10,1-18,13.7-18,13.7s8.7,8.6,17,9.9
                    C19.4,32.6,22.4,32.6,23.4,32.4z M11.1,20.7c0-5.2,4.4-9.4,9.9-9.4s9.9,4.2,9.9,9.4S26.5,30,21,30S11.1,25.8,11.1,20.7z"/>
            </svg>
            <div style="font-size: 12px;"><a href="{{ object.candidate_initial_info.resume.url }}" target="_blank" rel="noopener noreferrer">Resume</a></div>
        </div>
        {% endif %}
    </div>

    </div>

    {% if candidate_occurance %}
    <div class="mt-4">
        <h3>Interview Details:</h3>
        <div class="card mt-3">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>Job Title</th>
                        <th>Unit</th>
                        <th>Interview Type</th>
                        <th>Interview Date</th>
                        <th>Attendance Status</th>
                        <th>Interview Status</th>
                        <th>Final Interview Attendance</th>
                        <th>Final Interview Status</th>
                        <th> Job Offer</th>

                    </tr>
                </thead>
                <tbody>
                    {% for occurrence in candidate_occurance %}
                    <tr>
                        <td>{{ occurrence.job.first.job_title }}</td>
                        <td>{{ occurrence.job.first.unit }}</td>
                        <td>{{ occurrence.interview_schedule.interview_type }}</td>
                        <td>{{ occurrence.interview_schedule.interview_date | date:"M d, Y" }}</td>
                        <td>{{ occurrence.attendance_status }}</td>
                        <td>{{ occurrence.initial_interview_status}}</td>
                        <td>{{ occurrence.final_interview_attendance}}</td>
                        <td>{{ occurrence.final_interview_status}}</td>
                        <td>
                            {% if occurrence.offer %}
                                <a href="{% url 'candidates:offer-update' occurrence.offer.id %}?next={{ request.path }}">
                                    {{ occurrence.offer.offer_status }}
                                </a>
                            {% else %}
                                N/A
                            {% endif %}
                        </td>


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% if object.details %}
        <h3 class="text-center mt-2">Candidate Details:</h3>
        <div class="row">
            <div class="col-md-4 mt-2">
                <div class="card mt-3">
                    <div class="card-header">
                        <h6 class="card-title">Personal Information:</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Date of Birth:</strong> 
                                {{object.details.date_of_birth}}</li>
                            <li class="list-group-item"><strong>Blood Group:</strong> {{ object.details.blood_group }}
                            </li>
                            <li class="list-group-item"><strong>NID:</strong> {{ object.details.nid}}</li>
                            <li class="list-group-item"><strong>Marital Status:</strong> {{object.details.marital_status }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card mt-3">
                    <div class="card-header">
                        <h6 class="card-title">Eduction Qualification:</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Highest Education:</strong> {{ object.details.highest_degree}}</li>
                            <li class="list-group-item"><strong>Degree Name:</strong> {{ object.details.degree_name }}
                            </li>
                            <li class="list-group-item"><strong>Subject:</strong> {{object.details.subject_highest_degree}}</li>
                            <li class="list-group-item"><strong>Institution:</strong> {{ object.details.institution_highest_degree }}</li>
                            <li class="list-group-item"><strong>Passing Year:</strong> {{object.details.passing_year_highest_degree }}</li>
                            <li class="list-group-item"><strong>GPA/CGPA/Division:</strong> {{object.details.division_or_gpa_highest_degree }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card mt-3">
                    <div class="card-header">
                        <h6 class="card-title">Experience:</h6>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Current Designation:</strong> {{object.details.current_designation}}</li>
                            <li class="list-group-item"><strong>Current Organization:</strong> {{object.details.current_organization }}</li>
                            <li class="list-group-item"><strong>Total Experience:</strong> {{object.details.total_experience}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endblock %}