{% extends "jobs/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% block style%}
<style>
    .form-group>div {
        display: flex;
        align-items: center;
    }

    .form-group>div>div {
        margin-right: 10px;
        /* Adjust the spacing as needed */
    }
</style>
{% endblock %}


<div class="container">
    <legend class="text-center">Offered Candidate</legend>
    <div class=" d-flex align-items-center justify-content-center">
            <div class="row">
                <div class="col-md-12">
                    <form method="get" class="form-inline">
                        {{ filterset.form | crispy }}
                        <button type="submit" class="btn btn-primary mt-4"><i class="bi bi-search"></i> Search</button>
                    </form>
                </div>
            </div>
    </div>

    <table class="table table-bordered mt-4">
        <thead class="text-center">
            <tr>
                <th>SL</th>
                <th>Name</th>
                <th>Mobile Number</th>
                <th>Position</th>
                <th>Unit</th>
                <th>DOJ/Tentative DOJ</th>
                <th>Status</th>
                <th>Employee Status</th>
            </tr>
        </thead>
        <tbody>
            {% for offer in offers %}
            <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td><a href="{% url 'candidates:offer-update' offer.id %}">{{ offer.candidate.name }}</a></td>
                <td>{{ offer.candidate.mobile }}</td>
                <td>{{ offer.offered_designation }}</td>
                <td>{{ offer.job.unit }}</td>
                <td class="text-center">{{ offer.joining_date }}</td>
                <td>{{ offer.offer_status }}</td>
                {% if offer.id in employee_offer_ids %}
                <td class="text-center"> Already an Employee</td>
                {% else %}
                <td class="text-danger text-center"> Not Joined</td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="pagination justify-content-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link"
                    href="?{% if request.GET %}{{ request.GET.urlencode|safe }}&{% endif %}page=1">First</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                    href="?{% if request.GET %}{{ request.GET.urlencode|safe }}&{% endif %}page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% endif %}

            <li class="page-item disabled">
                <a class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="?{% if request.GET %}{{ request.GET.urlencode|safe }}&{% endif %}page={{ page_obj.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                    href="?{% if request.GET %}{{ request.GET.urlencode|safe }}&{% endif %}page={{ page_obj.paginator.num_pages }}">Last</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}