{% extends "jobs/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% block style%}
<style>
    .form-group>div {
        display: flex;
        align-items: center;
    }

    .form-group>div>div {
        margin-right: 10px;
        /* Adjust the spacing as needed */
    }
</style>
{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            {% include 'employees/EmployeesManuBar.html' %}
        </div>
        <div class="col-md-9">
            <legend class="text-center"> Employee List</legend>
            <form method="get" class="form-inline">
                {{ filter.form | crispy }}
                <button type="submit" class="btn btn-primary mt-4"><i class="bi bi-search"></i> Search</button>
            </form>
            <table class="table table-bordered table-sm" id="employee_table">
                <thead class="text-center align-middle">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Department</th>
                        <th>Mobile No.</th>
                        <th>Email</th>
                        <th>Location</th>
                        <th>DOJ</th>
                        <th>Unit</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employee_list %}
                    <tr>
                        <td><a href="{% url 'employees:employee_profile' employee.pk %}">{{ employee.EID }}</a></td>
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.designation }}</td>
                        <td>{{ employee.department }}</td>
                        <td>{{ employee.mobile_no }}</td>
                        <td>{{ employee.email }}</td>
                        <td>{{employee.job_location}}</td>
                        <td>{{employee.DOJ}}</td>
                        <td>{{ employee.unit.short_name }}</td>
                        <td class="text-center">
                            <a class="text-primary me-2 h6"
                                href="{% url 'employees:employee-update' employee.pk %}"><i class="bi bi-pencil-square"></i></a>

                            <a href="#" class="text-danger h6" data-bs-toggle="modal"
                                data-bs-target="#employeeDelete-{{employee.id}}">
                                 <i class="bi bi-trash"></i>
                             </a>
                             
                             <!-- Modal -->
                             <div class="modal" id="employeeDelete-{{employee.id}}" tabindex="-1"
                                  aria-labelledby="employeeDeletelabel-{{employee.id}}" aria-hidden="true">
                                 <div class="modal-dialog modal-dialog-centered modal-md">
                                     <div class="modal-content">
                                         <div class="modal-header">
                                             <h1 class="modal-title fs-5" id="employeeDeletelabel-{{employee.id}}">Delete?</h1>
                                             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                         </div>
                                         <div class="modal-body">
                                             <h6>Are you sure you want to delete "{{ employee.name }}"?</h6>
                                         </div>
                                         <div class="modal-footer">
                                             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                             <form class="d-inline-block" method="post" action="{% url 'employees:employee-delete' employee.id %}">
                                                 {% csrf_token %}
                                                 <input class="btn btn-danger" type="submit" value="Confirm">
                                             </form>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                             
<!-- end modal -->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination justify-content-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link"
                                href="?{% if request.GET %}{{ request.GET.urlencode|safe }}&{% endif %}page=1">First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                                href="?{% if request.GET %}{{ request.GET.urlencode|safe }}&{% endif %}page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                        {% endif %}

                        <li class="page-item disabled">
                            <a class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                        </li>

                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                                href="?{% if request.GET %}{{ request.GET.urlencode|safe }}&{% endif %}page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                                href="?{% if request.GET %}{{ request.GET.urlencode|safe }}&{% endif %}page={{ page_obj.paginator.num_pages }}">Last</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}