{%extends "jobs/base.html"%}
{%block content%}
{% load crispy_forms_tags %}
<div class="container" style="max-width: 600px;">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Employee Information's Information</legend>
            {{form|crispy }}
        </fieldset>
        <button class="btn btn-primary btn-sm mt-4" type="submit"> <i class="bi bi-send"></i> Submit</button>
        <a class="btn btn-secondary btn-sm mt-4" href="{% url 'employees:sample_employee' %}"> Download Sample</a>
    </form>
</div>
{%endblock%}