{% extends "jobs/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container-fluid table-responsive">
    <legend class="text-center">Leave Application</legend>
    <form method="get" class="form-inline">
        {% for field in filter.form %}
        <div class="form-group mr-3">
            <div class="form-control">
                {{ field.label_tag }}
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> Search</button>
    </form>
    <hr>
    <table class="table table-sm table-bordered table-hover">
        <thead>
            <tr>
                <th>Sl</th>
                <th>ID</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Department</th>
                <th>DOJ</th>
                <th>Unit</th>
                <th>Leave Type</th>
                <th>Start date</th>
                <th>End Date</th>
                <th>Total Days</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for leave in page_obj %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'leave:leaveApplicationUpdate' leave.pk %}">{{leave.employee.EID}}</a></td>
                <td>{{leave.employee.name}}</td>
                <td>{{leave.employee.designation}}</td>
                <td>{{leave.employee.department}}</td>
                <td>{{leave.employee.DOJ}}</td>
                <td>{{leave.employee.unit}}</td>
                <td>{{leave.leave_type}}</td>
                <td>{{leave.start_date}}</td>
                <td>{{leave.end_date}}</td>
                <td class="text-center">{{leave.total_days}}</td>
                <td class="text-center "><a href="#" class="text-danger h6" data-bs-toggle="modal"
                        data-bs-target="#leaveApplicationUpdate"><i class="bi bi-trash"></i></a>

                    <!-- Modal -->

                    <div class="modal" id="leaveApplicationUpdate" tabindex="-1"
                        aria-labelledby="leaveApplicationUpdatelabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="leaveApplicationDeletelabel">Delete?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h6>Are you sure you want to delete "{{ leave }}"?</h6>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <form class="d-inline-block" method="post"
                                        action="{% url 'leave:applicationDelete' leave.id %}">
                                        {% csrf_token %}
                                        <input class="btn btn-danger" type="submit" value="Confirm">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- End Modal -->

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="pagination justify-content-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% endblock %}