{% extends "jobs/base.html" %}
{% block content %}

<div class="container">
    <legend class="text-center"> Generate Employee's Appointment Letter</legend>
    <form method="get" class="form-inline">
            {% for field in filter.form %}
            <div class="form-group mr-3">
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}
        <button type="submit" class="btn btn-primary"><i class="bi bi-search"></i> Search</button>
    </form>
    <hr>
    {% if page_obj %}
    <form method="post" action="{% url 'documents:appointment_letter' %}" target="_blank">
        {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="text-center">
                    <tr>
                        <th><input class="form-check-input" type="checkbox" id="selectAll"></th>
                        <th>ID</th>
                        <th>Issue Date</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Department</th>
                        <th>DOJ</th>
                        <th>Unit</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in page_obj %}
                    <tr>
                        <td>
                            <input class="form-check-input" type="checkbox" name="employees_list"
                                value="{{ appointment.id }}">
                        </td>
                        <td>{{ appointment.employee.EID }}</td>
                        <td>{{ appointment.issue_date }}</td>
                        <td>{{ appointment.employee.name }}</td>
                        <td>{{ appointment.employee.designation }}</td>
                        <td>{{ appointment.employee.department }}</td>
                        <td>{{ appointment.employee.DOJ}}</td>
                        <td>{{ appointment.employee.unit }}</td>
                        <td>{{ appointment.salary }}</td>

                    </tr>

                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary mb-2" type="submit"> <i class="bi bi-file-earmark-plus"></i> Print
            Letter</button>
        <div class="pagination justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                            href="?{% if request.GET %}{{ request.GET.urlencode|safe }}&{% endif %}page=1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                            href="?{% if request.GET %}{{ request.GET.urlencode|safe }}&{% endif %}page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                    {% endif %}

                    <li class="page-item disabled">
                        <a class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                    </li>

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link"
                            href="?{% if request.GET %}{{ request.GET.urlencode|safe }}&{% endif %}page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                            href="?{% if request.GET %}{{ request.GET.urlencode|safe }}&{% endif %}page={{ page_obj.paginator.num_pages }}">Last</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </form>
    {% else %}
    <legend class="text-danger text-center"> No Employee Available</legend>
    {% endif %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("selectAll").addEventListener("change", function () {
            var checkboxes = document.getElementsByName("employees_list");
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = this.checked;
            }
        });
    });
</script>
{% endblock %}